body {
	margin: 0;
	background-color:#eebaf4;
	font-family: Arial, sans-serif;
	text-align: center;
}

h1.title {
	margin: 0;
	background-color: #eebaf4;
}

input {
	font-size: 1.1em;
	line-height: 1.1;
}

#Phone {
	width: 120px;
}

#Age {
	width: 30px;
}

#BottomImage {
	width: 100%;
	display: block;
}

section {
	text-align: left;
	padding: 2px 8px;
	margin: 16px auto;
	width: 500px;
	
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
table#SearchResultsTable {
	padding-left:100px
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #c3c3c3;
    text-align: left;
    color: black;
    border-collapse: collapse;
}

.btn {
	float: center;
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #ec88f7;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  float: center;
  background: #bc3fcc;
  text-decoration: none;
}