body {
	margin: 0;
	background-color: #ec88f7;
	font-family: Arial, sans-serif;
	text-align: center;
}

h1.title {
	margin: 0;
	background-color: #ec88f7;
}

input {
	font-size: 1.1em;
	line-height: 1.1;
}

#Phone {
	width: 120px;
}

#Age {
	width: 30px;
}

#BottomImage {
	width: 100%;
	display: block;
}

section {
	text-align: left;
	padding: 2px 8px;
	margin: 16px auto;
	width: 450px;
}

.btn {
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial, sans-serif;
  color: #ffffff;
  font-size: 20px;
  background: #ec88f7;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  
  background: #bc3fcc;
  text-decoration: none;
}