<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Love</title>
    <link rel="stylesheet" href="resources/style.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
     <section>
      <form action="insert_child" method="POST">
        <h2>Please enter all children</h2>
        <p>
          <label for="ParentSSN">SSN:</label> <input type="number" name="ParentSSN" id="ParentSSN" />
        </p>
        
        <p>
          <label for="FirstName">Child Name:</label> <input type="text" name="name" id="Name" />
        </p>
        
        <p>
          <label for="dob">Child DOB:</label> <input type="date" name="dob" id="dob"/>
        </p>
        
        <p>
          <label for="Phone">Child status:</label> <input type="text" name="status" id="Phone" />
        </p>
        
        <p>
          <input type="submit" value="Sumbit!" />
        </p>
      </form>
      <a href="/interests">Done? Click here.</a>
    </section>
  </body>
</html>
