<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Love</title>
    <link rel="stylesheet" href="resources/style.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
     <section>
     <div class="buttonHolder">
	<form action="client_search">
		<button id="client-action" class="btn">Search</button>
	</form>
	</div>
	<div class="buttonHolder">
	<form action="date_history">
		<button id="specialist-button" class="btn">View Dates</button>
	</form>
	</div>
	<div class="buttonHolder">
	<form action="payment-history">
		<button id="specialist-button" class="btn">View Payment History</button>
	</form>
	</div>
	</section>

	{% if payments %}
		You have outstanding payments due!! Please visit the payment history page to pay.
	{% endif %}

</body>
</html>