
<!DOCTYPE html>
<html lang="en">
  <head> 
    <link rel="stylesheet" type="text/css" href="/resources/button.css">
    <title>Very Good Dating Service</title>
  </head>
  <body>
    <h1 class="title">
    </h1>
    <section>
  <div style="width:100%">
  <div style="float:left; width:40%; padding-top:20px">
    <form action = "client_matches" method="POST">
    <table style="padding-left:30px">
    <tr>
      <td>
        <p style="color:white; font-family:arial; font-size:125%">Gender:</p>
      </td>
      <td>
        <input name="gender" class="enjoy-input" placeholder="Gender" value = ""/>
      </td>
    </tr>
    <tr>
      <td>
        <p style="color:white; font-family:arial; font-size:125%">Age:</p>
      </td>
      <td>
        <input name="age" class="enjoy-input" placeholder="Age" value = "" />
      </td>
    </tr>
    <tr>
      <td>
        <p style="color:white; font-family:arial; font-size:125%">Eye Color:</p>
      </td>
      <td>
        <input name="eyecolor" class="enjoy-input" placeholder="Eye Color" value = ""/>
      </td>
    </tr>
    <tr>
      <td>
        <p style="color:white; font-family:arial; font-size:125%">Weight:</p>
      </td>
      <td>
        <input name="weight" class="enjoy-input" placeholder="Weight" value = ""/>
      </td>
    </tr>
    <tr>
      <td>
        <p style="color:white; font-family:arial; font-size:125%">Height:</p>
      </td>
      <td>
        <input name="height" class="enjoy-input" placeholder="Height" value = ""/>
      </td>
    </tr>
    <tr>
      <td>
        <p style="color:white; font-family:arial; font-size:125%">Prior Marriage? (yes/no):</p>
      </td>
      <td>
        <input name="prior_marriage" class="enjoy-input" placeholder="Prior Marriage? (yes/no)" value = ""/>
      </td>
    </tr>
    <tr>
      <td>
        <p style="color:white; font-family:arial; font-size:125%">Interests?:</p>
      </td>
      <td>
        <input name="interest" class="enjoy-input" placeholder="Interests" value = ""/>
      </td>
    </tr>
    <tr>
      <td>
        <p style="color:white; font-family:arial; font-size:125%">Specific interests?:</p>
      </td>
      <td>
        <input name="interest_type" class="enjoy-input" placeholder="Specific interest" value = ""/>
      </td>
    </tr>
  </table>
  
  <div class="selectHolder">
    <button type="submit" class="btn"> Search for A Match! </button>
  </div>
</form>
</div>
</section>
</body>
</html>
