<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Very Good Dating Service</title>
  </head>
  <body>
    <h1 class="title">
      <img src="resources/logo.png" alt="EugeneNeedsLove.com">
    </h1>
     <section>
      {% if future_dates %}
      <form action="edit_dates" method="POST">
        <h2>Your requested dates</h2>
        {% for date in future_dates %}
        <input type="radio" name="edit_req" value="{{date['date_ssn']}} {{date['scheduled_date']}}">
          <p>
            {{date['name']}}
          </p>
          <p>
            {{date['scheduled_date']}}
          </p>
          <p>
            {{date['location']}}
          </p>
        {% endfor %}
          <input type="submit" value="Edit!" />
        </p>
      </form>
      {% endif %}


      <form action="see_again" method="POST">
        <h2>Your past dates</h2>
        {% for date in prev_dates %}
        <!-- <input type="radio" name="edit_prev" value={{date}}> -->
          <p>
            {{date['name']}}
          </p>
          <p>
            {{date['scheduled_date']}}
          </p>
          <p>
            {{date['location']}}
          </p>
          {% if not date['see_again'] %}
          <p>
            I'm interested in seeing this person again. <input type="radio" name="see_again">
            <input type="hidden" name="date_info" value="{{date['date_ssn']}} {{date['scheduled_date']}}">
            <input type="submit" value="Submit!"/>
          </p>
          {% endif %}
        {% endfor %}
          <!-- <input type="submit" value="Edit!" /> -->
        </p>
      </form>
    </section>
  </body>
</html>