<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Very Good Dating Service</title>
  </head>
  <body>
    <h1 class="title">
      <img src="resources/logo.png" alt="EugeneNeedsLove.com">
    </h1>
     <section>
      <form action="" method="POST">
        <h2>Your dates</h2>
        {% for date in dates %}
          <p>
            {{date['name']}}
          </p>
          <p>
            {{date['scheduled_date']}}
          </p>
          <p>
            {{date['location']}}
          </p>
        {% endfor %}
          <input type="submit" value="Request!" />
        </p>
      </form>
    </section>
  </body>
</html>