<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Very Good Dating Service</title>
  </head>
  <body>
    <h1 class="title">
      <img src="resources/logo.png" alt="EugeneNeedsLove.com">
    </h1>
     <section>
      <form action="update_date" method="POST">
        <h2>Edit this date</h2>
          <p>
            {{date['name']}}
          </p>
          <p>
            {{date['scheduled_date']}}, change: 
            <input type="date" name="new_date">
          </p>
          <p>
            {{date['location']}}, change: 
            <input type="text" name="new_location">
          </p>
          <input type="hidden" name="ssn" value="{{date['ssn']}}"/>
          <input type="hidden" name="date_ssn" value="{{date['date_ssn']}}"/>
          <input type="hidden" name="date_date" value="{{date['scheduled_date']}}"/>
          <input type="submit" value="Edit!" />
        </p>
      </form>

      <form action="date_occurred" method="POST">
        <p>This date already occurred.
            <input type="radio" name="occurred">
        </p>
        <input type="hidden" name="ssn" value="{{date['c1_ssn']}}"/>
        <input type="hidden" name="date_ssn" value="{{date['c2_ssn']}}"/>
        <input type="hidden" name="date_date" value="{{date['scheduled_date']}}"/>
        <input type="submit" value="Submit"/>
      </form>
    </section>
  </body>
</html>