<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Very Good Dating Service</title>
  </head>
  <body>
    <h1 class="title">
      <img src="resources/logo.png" alt="EugeneNeedsLove.com">
    </h1>
     <section>
      <form action="finalize_date" method="POST">
        <h2>Finalize date request</h2>
        <!-- Your ssn: <input type="number" name="userssn" required> -->
          <p>
            When: <input type="date" name="date">
            Where: <input type="text" name="location">
          </p>
          <input type="hidden" name="user_ssn" value="{{user_ssn}}">
          <input type="hidden" name="date_ssn" value="{{date_ssn}}">
          <input type="submit" value="Request!" />
        </p>
      </form>
    </section>
  </body>
</html>