<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Love</title>
    <link rel="stylesheet" href="resources/style.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
     <section>
     <div class="buttonHolder container">
	<form action="client-welcome">
        <button name="login-button" class="btn" value='client'>Client</button>
	</form>
	</div>
	<div class="buttonHolder container">
	<form action="other-login">
        <button name="login-button" class="btn" value='staff'>Staff</button>
	</form>
	</div>
	<div class="buttonHolder container">
	<form action="other-login">
        <button name="login-button" class="btn" value='specialist'>Specialist</button>
	</form>
	</div>
	</section>
</body>
</html>











