<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Very Good Dating Service</title>
  </head>
  <body>
    <h1 class="title">
      <img src="resources/logo.png" alt="EugeneNeedsLove.com">
    </h1>
     <section>
      <form action="insert" method="POST">
        <h2>Sign up!</h2>
        <p>
          <label for="FirstName">Name:</label> <input type="text" name="name" id="Name" />
        </p>
        <p>
          <label for="Phone">Phone Number:</label> <input type="text" name="phone" id="Phone" />
        </p>
        <p>
          <label for="Age">DOB:</label> <input type="number" name="age" id="Age" min="18" max="99" value="" />
        </p>
        <p>
          <label for="Age">Gender:</label> <input type="text" name="gender" id="Gender"/>
        </p>
        <p>
          <label for="Age">Eye color:</label> <input type="text" name="EyeColor" id="EyeColor"/>
        </p>
        <p>
          <label for="Age">Weight:</label> <input type="int" name="weight" id="weight"/>
        </p>
        <p>
          <label for="Age">Height:</label> <input type="int" name="height" id="height"/>
        </p>
        <p>
          <label for="Age">Have you been married before?:</label> <input type="text" name="weight" id="weight"/>
        </p>
        <p>
          <label for="Age">Who are you interested in?:</label> <input type="text" name="InterestedIn" id="InterestedIn"/>
        </p>
          <input type="submit" value="Sign up now!" />
        </p>
      </form>
    </section>
  </body>
</html>
