<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Love</title>
    <link rel="stylesheet" href="resources/style.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
     <section>
      <form action="insert_interests" method="POST">
        <h2>What are you interested in?</h2>
        <p>
          <label for="ssn">Your SSN:</label> <input type="number" name="ssn" id="ssn" />
        </p>
        <p>
          <label for="category">I'm interested in...:</label> <input type="text" name="category" id="category" />
        </p>
        <p>
          <label for="specific">Particularly...:</label> <input type="text" name="specific" id=specific" />
        </p>
        <p>
          <input type="submit" value="Sumbit!" />
        </p>
      </form>
      When done click to go somewhere else...
    </section>
  </body>
</html>
