<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Love</title>
    <link rel="stylesheet" href="resources/style.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
     <section>
      <form action="num_dates_search">
        <h2>Search for clients who have had: </h2>
        <p>
          <label for="comparision">(at least, at most, exactly)</label> <input type="text" name="comparision" id="comparision" />
        </p>
        <p>
          <label for="number">Number of Dates: </label> <input type="number" name="number" id="number" />
        </p>
        <p>
          <input type="submit" class="btn" value="Search!" />
        </p>
      </form>
      	<form action="specialist_update_landing">
			<button id="specialist-query" class="btn">Go Back</button>
		</form>
    </section>
  </body>
</html>