<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Love</title>
    <link rel="stylesheet" href="resources/style.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
     <section>
     <form action="other_validation">
		<div class="selectHolder">
			<input name="username" class="enjoy-input" placeholder="Username: " />
		</div>
		<div class="selectHolder">
			<input name="password" class="enjoy-input" placeholder="Password: " />
		</div>
		<div class="selectHolder">
			<input name="use_type" class="enjoy-input" placeholder="Type of User: " />
		</div>
		<div class="buttonHolder">
			<button type="submit" class="btn" id="submit-button">Submit</button>
		</div>
	</form>
	</section>
</body>
</html>