<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Very Good Dating Service</title>
  </head>
  <body>
    <h1 class="title">
      <img src="resources/logo.png" alt="EugeneNeedsLove.com">
    </h1>
     <section>
      <form action="insert_client" method="POST">
        <h2>Sign up!</h2>
        <p>
          <label for="FirstName">Name:</label> <input type="text" name="name" id="Name" />
        </p>
        <p>
          <label for="Phone">Phone Number:</label> <input type="text" name="phone" id="Phone" />
        </p>
        <p>
          <label for="DOB">DOB:</label> <input type="date" name="dob" id="Age" value="" />
        </p>
        <p>
          <label for="SSN">SSN:</label> <input type="number" name="ssn" id="Age" min="0" max="9999999999" value="" />
        </p>
        <p>
          <label for="Gender">Gender:</label> <input type="text" name="gender" id="Gender"/>
        </p>
        <p>
          <label for="EyeColor">Eye color:</label> <input type="text" name="EyeColor" id="EyeColor"/>
        </p>
        <p>
          <label for="Weight">Weight:</label> <input type="int" name="weight" id="weight"/>
        </p>
        <p>
          <label for="Height">Height:</label> <input type="int" name="height" id="height"/>
        </p>
        <p>
          <label for="PrevMarriage">Have you been married before?:</label> <input type="text" name="PrevMarriage" id="PrevMarriage"/>
        </p>
        <p>
          <label for="InterestedIn">Who are you interested in?:</label> <input type="text" name="InterestedIn" id="InterestedIn"/>
        </p>
          <input type="submit" value="Sign up now!" />
        </p>
      </form>
    </section>

    <ol>
        {% for cl in clients %}
          <li>{{cl['name']}}</li>
        {% endfor %}
      </ol>
  </body>
</html>
