<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Love</title>
    <link rel="stylesheet" href="resources/style.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
     <section>
      <form action="insert_client" method="POST">
        <h2>Sign up!</h2>
        <p>
          <label for="FirstName">Name:</label> <input type="text" name="name" id="Name" />
        </p>
        
        <p>
          <label for="Phone">Phone Number:</label> <input type="text" name="phone" id="Phone" />
        </p>
        
        <p>
          <label for="DOB">DOB:</label> <input type="date" name="dob" id="dob" value="" />
        </p>
        
        <p>
          <label for="SSN">SSN:</label> <input type="number" name="ssn" id="ssn" min="0" max="9999999999" value="" />
        </p>
        
        <p>
          <label for="Gender">Gender:</label> <input type="text" name="gender" id="Gender"/>
        </p>
        
        <p>
          <label for="EyeColor">Eye color:</label> <input type="text" name="EyeColor" id="EyeColor"/>
        </p>
        
        <p>
          <label for="Weight">Weight:</label> <input type="int" name="weight" id="weight"/>
        </p>
        
        <p>
          <label for="Height">Height:</label> <input type="int" name="height" id="height"/>
        </p>
        
        <p>
          <label for="PrevMarriage">Have you been married before?:</label> <input type="text" name="PrevMarriage" id="PrevMarriage"/>
        </p>
        
        <p>
          <label for="InterestedIn">Who are you interested in?:</label> <input type="text" name="InterestedIn" id="InterestedIn"/>
        </p>
        
        <p>
          <input type="submit" class="btn" value="Sign up now!" />
        </p>
        
      </form>
    </section>
    
    <section>
     <form form action="client-login">
		<button name="clientlogin" class="btn" value='login'> Already A Member? Login Here!</button>
	</form>
    <form action="staff-login">
        <button name="login-button" class="btn"> Are you a staff member? Login Here!</button>
	</form>
	</section>
  </body>
</html>
