<!DOCTYPE html>
<html lang="en">
  <head> 
    <link rel="stylesheet" type="text/css" href="/resources/style.css">
    <title>Find Love</title>
  </head>
  <body>
    <h1 class="title">
       <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
    <section>
	<div style="width:100%">
	<div style="float:left; width:40%; padding-top:20px">
		<form action = "insert_client">
		<table style="padding-left:30px">
		<tr>
			<td>
				<p style="color:white; font-family:arial; font-size:125%">SSN:</p>
			</td>
			<td>
				<input name="SSN" class="enjoy-input" placeholder="" value = ""/>
			</td>
		</tr>
		<tr>
			<td>
				<p style="color:white; font-family:arial; font-size:125%">Name:</p>
			</td>
			<td>
				<input name="Name" class="enjoy-input" placeholder="" value = "" />
			</td>
		</tr>
		<tr>
			<td>
				<p style="color:white; font-family:arial; font-size:125%">Gender:</p>
			</td>
			<td>
				<input name="Gender" class="enjoy-input" placeholder="" value = ""/>
			</td>
		</tr>
		<tr>
			<td>
				<p style="color:white; font-family:arial; font-size:125%">Date of Birth:</p>
			</td>
			<td>
				<input name="DOB" class="enjoy-input" placeholder="" value = "" />
			</td>
		</tr>
		<tr>
			<td>
				<p style="color:white; font-family:arial; font-size:125%">Phone Number:</p>
			</td>
			<td>
				<input name="phone" class="enjoy-input" placeholder="" value = "" />
			</td>
		</tr>
		<tr>
			<td>
				<p style="color:white; font-family:arial; font-size:125%">Eye Color:</p>
			</td>
			<td>
				<input name="eyecolor" class="enjoy-input" placeholder="" value = ""/>
			</td>
		</tr>
		<tr>
			<td>
				<p style="color:white; font-family:arial; font-size:125%">Weight:</p>
			</td>
			<td>
				<input name="weight" class="enjoy-input" placeholder="" value = ""/>
			</td>
		</tr>
		<tr>
			<td>
				<p style="color:white; font-family:arial; font-size:125%">Height:</p>
			</td>
			<td>
				<input name="height" class="enjoy-input" placeholder="" value = ""/>
			</td>
		</tr>
		<tr>
			<td>
				<p style="color:white; font-family:arial; font-size:125%">Prior Marriage? (yes/no):</p>
			</td>
			<td>
				<input name="prior_marriage" class="enjoy-input" placeholder="" value = ""/>
			</td>
		</tr>
		<tr>
			<td>
				<p style="color:white; font-family:arial; font-size:125%">Interested in Males or Females?:</p>
			</td>
			<td>
				<input name="prior_marriage" class="enjoy-input" placeholder="" value = ""/>
			</td>
		</tr>
		<tr>
			<td>
				<p style="color:white; font-family:arial; font-size:125%">Date Account Opened:</p>
			</td>
			<td>
				<input name="date-open" class="enjoy-input" placeholder="" value = ""/>
			</td>
		</tr>
		<tr>
			<td>
				<p style="color:white; font-family:arial; font-size:125%">Date Account Closed:</p>
			</td>
			<td>
				<input name="date_close" class="enjoy-input" placeholder="" value = ""/>
			</td>
		</tr>
		<tr>
			<td>
				<p style="color:white; font-family:arial; font-size:125%">Account Status:</p>
			</td>
			<td>
				<input name="status" class="enjoy-input" placeholder="" value = ""/>
			</td>
		</tr>
		<tr>
			<td>
				<p style="color:white; font-family:arial; font-size:125%">Crime:</p>
			</td>
			<td>
				<input name="crime" class="enjoy-input" placeholder="" value = ""/>
			</td>
		</tr>
	</table>
	<div class="buttonHolder">
		<button type="submit" class="btn" id="submit-button">Insert A New Client</button>
	</div>
</form>
</div>
</div>
</section>
</body>
</html>