<!DOCTYPE html>
<html lang="en">
  <head> 
    <link rel="stylesheet" type="text/css" href="/resources/style.css">
    <title>Find Love</title>
  </head>
  <body>
    <h1 class="title">
       <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
    <section>
	 <form action="update_client" method="POST">
        <h2>Update Client information</h2>
        <p>
          <label for="SSN">Current SSN</label> <input type="number" name="SSN" id="SSN" />
        </p>
        <p>
        </p>
        <p>
          <label for="ssn_new">Updated SSN:</label> <input type="number" name="ssn_new" id="ssn_new" />
        </p>
        <p>
          <label for="name">Updated Name:</label> <input type="text" name="name" id="name" />
        </p>
      	<p>
          <label for="gender">Updated Gender:</label> <input type="text" name="gender" id="gender" />
        </p>
    	<p>
          <label for="DOB">Updated Date of Birth:</label> <input type="date" name="DOB" id="DOB" />
        </p>
        <p>
          <label for="phone">Updated Phone Number:</label> <input type="number" name="phone" id="phone" />
        </p>
        <p>
          <label for="eyecolor">Updated Eye Color:</label> <input type="text" name="eyecolor" id="eyecolor" />
        </p>
        <p>
          <label for="weight">Updated Weight:</label> <input type="number" name="weight" id="weight" />
        </p>
        <p>
          <label for="height">Updated Height:</label> <input type="number" name="height" id="height" />
        </p>
        <p>
          <label for="prior_marriage">Updated Prior Marriage Status (yes/no):</label> <input type="text" name="prior_marriage" id="prior_marriage" />
        </p>
        <p>
          <label for="interest">Updated Interest in Males or Females:</label> <input type="text" name="interest" id="interest" />
        </p>
        <p>
          <label for="date_open">Updated Date Account Opened:</label> <input type="date" name="date_open" id="date_open" />
        </p>
        <p>
          <label for="date_close">Updated Date Account Closed:</label> <input type="date" name="date_close" id="date_close" />
        </p>
        <p>
          <label for="status">Updated Date Account Status:</label> <input type="date" name="status" id="status" />
        </p>
        <p>
          <input type="submit" class="btn" value="Sumbit!" />
        </p>
      </form>
		<form action="specialist_update_landing">
			<button id="specialist-query" class="btn">Go Back</button>
		</form>
</div>
</section>
</body>
</html>