<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Love</title>
    <link rel="stylesheet" href="resources/style.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
     <section>
		<div>
		<form action="signup_kids">
			<button id="specialist-query" class="btn">Add Additional Information</button>
		</form>
		</div>
		<div>
		<form action="speccialist_update">
			<button id="specialist-query" class="btn">Modify Current Information</button>
		</form>
		</div>
			<div>
		<form action="specialist-welcome">
			<button id="specialist-query" class="btn">Go Back</button>
		</form>
	</div>
	</section>
</body>
</html>