<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Love</title>
    <link rel="stylesheet" href="resources/style.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
     <section>
      <form action="delete_specialist_interests" method="POST">
        <h2>Enter SSN and Interest to Delete</h2>
        <p>
          <label for="ssn">SSN:</label> <input type="number" name="ssn" id="ssn" />
        </p>
        <p>
          <label for="interest">Interest:</label> <input type="text" name="interest" id="interest" />
        </p>
        <p>
          <input type="submit" value="Sumbit!" />
        </p>
      </form>
    </section>
  </body>
</html>