<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Love</title>
    <link rel="stylesheet" href="resources/style.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
     <section>
     <div class="buttonHolder">
	<form action="match_results">
		<button id="specialist-button" style="background:green">Search</button>
	</form>
	</div>
	<div class="buttonHolder">
	<form action="add-client">
		<button id="specialist-button" style="background:#505050">Add New Client</button>
	</form>
	</div>
	<div class="buttonHolder">
	<form action="update-client">
		<button id="specialist-button" style="background:#505050">Update Clients</button>
	</form>
	</div>
	</section>
</body>
</html>