<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Love</title>
    <link rel="stylesheet" href="resources/style.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
    <h2>
    Welcome Specialists!
    </h2>
     <section>
     <div class="buttonHolder">
	<form action="all_clients">
		<button id="specialist-button" class="btn">Search</button>
	</form>
	<form action="specialist_query">
		<button id="specialist-button" class="btn">Special Queries</button>
	</form>
	</div>
	<div class="buttonHolder">
	<form action="specialist_add_landing">
		<button id="specialist-button" class="btn">Add Client Information</button>
	</form>
	</div>
	<div class="buttonHolder">
	<form action="specialist_update_landing">
		<button id="specialist-button" class="btn">Update Client</button>
	</form>
	<form action="specialist_delete_landing">
		<button id="specialist-button" class="btn">Delete Client Information</button>
	</form>
	</div>
	</section>
</body>
</html>
