<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Love</title>
    <link rel="stylesheet" href="resources/style.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
     <section>
      <form action="delete_specialist_child" method="POST">
        <h2>Delete Client's Children</h2>
        <p>
          <label for="ParentSSN">SSN:</label> <input type="number" name="ParentSSN" id="ParentSSN" />
        </p>
        <p>
          <label for="name">Child Name:</label> <input type="text" name="name" id="name" />
        </p>
        <p>
          <input type="submit" value="Sumbit!" />
        </p>
      </form>
    </section>
  </body>
</html>