<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Love</title>
    <link rel="stylesheet" href="resources/style.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
    <h2> Add New Client or Information for Client </h2>
     <section>
     	<form action="specialist_signup_client">
     	<button id="specialist-query" class="btn">Add New Client</button>
     	</form>
     </section>
     <section>
        <div class="buttonHolder">
			<div>
			<form action="specialist_add_crime">
				<button id="specialist-query" class="btn">Add Criminal Record</button>
			</form>
			</div>
		<div>
		<form action="specialist_add_interests">
			<button id="specialist-query" class="btn">Add Interests</button>
		</form>
		</div>
		<div>
		<form action="specialist_add_children">
			<button id="specialist-query" class="btn">Add Children</button>
		</form>
		</div>		
		</div>
		<div>
			<form action="specialist-welcome">
				<button id="specialist-query" class="btn">Go Back</button>
			</form>
		</div>
	</section>
</body>
</html>