<!DOCTYPE html>
<html lang="en">
  <head> 
    <link rel="stylesheet" type="text/css" href="/resources/style.css">
    <title>Find Love</title>
  </head>
  <body>
    <h1 class="title">
       <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
    <section>
	<div style="width:100%">
	<form action = "delete_client" methods = "POST">
	<div style="float:left; width:40%; padding-top:20px">
		<table style="padding-left:30px">
		<tr>
			<td>
				<p style="color:white; font-family:arial; font-size:125%">SSN of Client</p>
			</td>
			<td>
				<input name="SSN" class="enjoy-input" placeholder="" value = ""/>
			</td>
		</tr>
		<tr>
	</table>
	<div class="buttonHolder">
		<button type="submit" class="btn" id="submit-button">Delete Client</button>
	</div>
</div>
</form>
</div>
	<div>
		<form action="specialist-welcome">
			<button id="specialist-query" class="btn">Go Back</button>
		</form>
	</div>
</section>
</body>
</html>