<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Love</title>
    <link rel="stylesheet" href="resources/style.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
     <section>
        <div class="buttonHolder">
        	<form action="num_dates">
				<button id="specialist-query" class="btn"> Search by the Number of Dates</button>
			</form>
			<form action="num_clients_married">
				<button id="specialist-query" class="btn">Number of clients who were earlier married </button>
			</form>
			<form action="num_clients_gender">
				<button id="specialist-query" class="btn">Number of male and female clients </button>
			</form>
			<form action="num_dates_gender">
				<button id="specialist-query" class="btn">Average Number of Dates by Gender</button>
			</form>
			<form action="type_crime">
				<button id="specialist-query" class="btn">Type of crime recorded</button>
			</form>
			<form action="age_children">
				<button id="specialist-query" class="btn">Average Age of Client Children</button>
			</form>
			<form action="outstanding_balance">
				<button id="specialist-query" class="btn">List of Clients with Outstanding Account Balance </button>
			</form>
			<form action="display_interests">
				<button id="specialist-query" class="btn">What type of interests are recorded in the database for active clients</button>
			</form>
			<form action="average_dates_couple">
				<button id="specialist-query" class="btn">Show average number of a dates a couple will go on</button>
			</form>
		</div>
		<div>
			<form action="specialist-welcome">
				<button id="specialist-query" class="btn">Go Back</button>
			</form>
		</div>
	</section>
</body>
</html>
