<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Love</title>
    <link rel="stylesheet" href="resources/style.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
     <section>
      <form action="insert_crime" method="POST">
        <h2>Add Criminal Record Information</h2>
        <p>
          <label for="ssn">SSN:</label> <input type="number" name="ssn" id="ssn" />
        </p>
        <p>
          <label for="crime">Crime:</label> <input type="text" name="crime" id="crime" />
        </p>
        <p>
          <input type="submit" class="btn" value="Sumbit!" />
        </p>
      </form>
      	<form action="specialist_update_landing">
			<button id="specialist-query" class="btn">Go Back</button>
		</form>
    </section>
  </body>
</html>