<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Love</title>
    <link rel="stylesheet" href="resources/style.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
     <section>
		<div>
		<form action="specialist_update">
			<button id="specialist-query" class="btn">Modify Client Information</button>
		</form>
		</div>
		<div>
		<form action="specialist_add_interests">
			<button id="specialist-query" class="btn">Add Interests</button>
		</form>
		</div>
		<div>
		<form action="specialist_delete_interests">
			<button id="specialist-query" class="btn">Delete Interests</button>
		</form>
		</div>
		<div>
		<form action="specialist_add_children">
			<button id="specialist-query" class="btn">Add Children</button>
		</form>
		</div>
		<div>
		<form action="specialist_update_children">
			<button id="specialist-query" class="btn">Update Children</button>
		</form>
		</div>
		<div>
		<form action="specialist_delete_children">
			<button id="specialist-query" class="btn">Delete Children</button>
		</form>
		</div>
	<div>
		<form action="specialist-welcome">
			<button id="specialist-query" class="btn">Go Back</button>
		</form>
	</div>
	</section>
</body>
</html>