<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Find Love</title>
    <link rel="stylesheet" href="resources/style.css" />
  </head>
  <body>
    <h1 class="title">
      <img src="resources/LoveHeader.jpg" alt="Find love">
    </h1>
     <section>
		<div>
		<form action="specialist_update">
			<button id="specialist-query" class="btn">Modify Client Information</button>
		</form>
		</div>
	</section>
	<section>
		<div>
		<form action="specialist_update_children">
			<button id="specialist-query" class="btn">Update Children</button>
		</form>
		</div>
		
		<div>
		<form action="specialist_update_fees">
			<button id="specialist-query" class="btn">Update Fees </button>
		</form>
		</div>
		
		<div>
		<form action="specialist_update_dates">
			<button id="specialist-query" class="btn">Update Dates </button>
		</form>
		</div>
		
		
	<div>
		<form action="specialist-welcome">
			<button id="specialist-query" class="btn">Go Back</button>
		</form>
	</div>
	</section>
</body>
</html>


